# Среда разработки
.idea

# Шрифты
/fonts/**

!/fonts/sans/
!/fonts/sans/IBMPlexSans/
!/fonts/sans/IBMPlexSans/**
!/fonts/sans/IBMPlexSansCondensed/
!/fonts/sans/IBMPlexSansCondensed/**
!/fonts/sans/IBMPlexSansSemiCondensed/
!/fonts/sans/IBMPlexSansSemiCondensed/**

# Сборка
/build/

# Ассеты
/assets/
